/* TODO: подключить шрифт для h2 font-family: 'Gilroy-Bold'; */
/* TODO: подключить шрифт для основного текста font-family: 'Gilroy-Regular' */
/* TODO: подключить шрифт для навигации font-family: 'Gilroy-SemiBold' и font-family: 'Gilroy-Medium'  */


/* NOTE: подумать над тем, чтоб сделать меню fixed или еще как-то обыграть */

/* HOME PAGE block -- */
.homePage .header {
	margin-top: 40px;
}

.homePage .header .header_wrp {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.homePage .header .logo_wrp img {
	max-width: 100%;
}

/* NOTE: убрать за ненадобностью, если не будет использоваться */
.homePage .header .header_nav {}

.homePage .header .header_nav .header_menu {
	display: flex;
	list-style-type: none;
	align-items: center;
	margin-bottom: 0px;
}

.homePage .header .header_nav .header_menu li {
	margin-right: 34px;
}

.homePage .header .header_nav .header_menu li:last-child {
	margin-right: 0px;
}

.homePage .header .header_nav .header_menu li:last-child a {
	display: flex;
	width: 120px;
	height: 40px;
	background-color: #F25822;
	border: none;
	border-radius: 30px;
	color: #FFFFFF;
	font-family: 'Gilroy-SemiBold';
	font-size: 12px;
	line-height: 14px;
	align-items: center;
	justify-content: center;
}

/* NOTE: подумать над эффектом при наведении на него мышкой - последний элемент кнопка в навигации */
.homePage .header .header_nav .header_menu li:last-child a:hover {}

.homePage .header .header_nav .header_menu li>a {
	color: rgba(0, 0, 0, 1);
	font-family: 'Gilroy-Medium';
	font-size: 14px;
	line-height: 16px;
}

/* TODO: когда буду делать JS, изменить поведение - удалять активный с предыдущей ссылки и добавлять на выбранную */
.homePage .header .header_nav .header_menu li .active {
	color: #F25822;
	font-family: 'Gilroy-SemiBold';
	font-weight: bold;
}

.homePage .header .header_nav .header_menu li>a:hover {
	color: #F25822;
	font-family: 'Gilroy-SemiBold';
	font-weight: bold;
	text-decoration: none;
}


.home .home_wrp {
	margin-top: 143px;
	width: 543px;
}

.home .home_wrp h1 {
	font-family: 'Gilroy-Bold';
	font-size: 60px;
	line-height: 70px;
	color: #000000;
}

/* TODO: придумать, как сам элипс сдвинуть левее на 21px, но само слово Marketing должно быть на месте */
/* NOTE: возможно элипс сделать отдельной картинкой или через свойство background */
.home .home_wrp h1 .ellipse {
	position: relative;
}

.home .home_wrp h1 .ellipse::after {
	display: block;
	content: '';
	box-sizing: border-box;
	border: 1px solid #F25822;
	border-radius: 50%;
	width: calc(100% + 42px);
	height: calc(100% + 10px);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	/* height: 76px; */
	/* background: url('../icons/ellipse.svg') no-repeat; */
}

/* -- end HOME PAGE block */

.aboutUs {
	background: url('../img/about_us/bg.png') center center/cover;
	background-color: #FAFAFA;
	position: relative;
}

.aboutUs .aboutUs_img img {
	max-width: 100%;
}

.aboutUs .row {
	display: flex;
	align-items: center;
}

.aboutUs .text {
	color: #666666;
	width: 515px;
	font-family: 'Gilroy-Regular';
	font-size: 16px;
	text-align: justify;
	margin-bottom: 35px;
}

/* повторяющийся элемент на странице */
.subtitle {
	margin-bottom: 20px;
	color: #000000;
	width: 409px;
	font-family: 'Gilroy-Bold';
	font-size: 45px;
	line-height: 53px;
}

/* повторяющийся элемент на странице */
button {
	width: 140px;
	height: 50px;
	background-color: #F25822;
	box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
	border: none;
	border-radius: 50px;
	color: #FFFFFF;
	font-family: 'Gilroy-Bold';
	font-size: 15px;
	line-height: 18px;
}


/* Block Features */
.features {
	background-color: #FFFFFF;
}

.features .features_wrapper {
	padding: 100px 29px 100px 29px;
	display: flex;
	justify-content: space-between;
}

.features .features_wrapper .features_item {
	width: 310px;
	transition: 0.2s all;
}

.features .features_wrapper .features_item:hover {
	padding: 40px 30px 25px 30px;
	box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.features .features_wrapper .features_item .feature_icon {
	width: 70px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	margin-bottom: 25px;
}

.coral {
	background-color: rgba(242, 88, 34, 0.25);
}

.green {
	background-color: rgba(20, 146, 17, 0.28);
}

.yellow {
	background-color: rgba(255, 205, 29, 0.24);
}

.features .features_wrapper .features_item .features_title {
	font-family: 'Gilroy-Bold';
	font-size: 24px;
	/* line-height: 28px; */
	color: #000000;
	margin-bottom: 17px;
}

.features .features_wrapper .features_item .features_text {
	font-family: 'Gilroy-Regular';
	font-size: 15px;
	line-height: 22px;
	color: #666666;
	margin-bottom: 25px;
}

.features .features_wrapper .features_item .features_more {
	font-family: 'Gilroy-Bold';
	font-size: 11px;
	font-weight: bold;
	color: #000000;
}

.features .features_wrapper .features_item .features_more:hover {
	color: #666666;
}